@media only screen and (min-width: 1450px) {
  /* For mobile phones: */
  .header-links {
    // position: relative;
    // right: -85%;
    position: relative;
    right: -50%;
  }
  .logo {
    position: relative;
    left: 100%;
  }
}
// .logo {
//   position: relative;
//   left: 500%;
// }
@media only screen and (max-width: 1450px)  and (min-width: 600px){
  /* For mobile phones: */
  .logo {
    // position: relative;
    // left: 50%;

    position: relative;
    left: 200%;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .logo {
    // position: relative;
    // left: 50%;

    position: relative;
    left: 100%;
  }
}