.issue-data {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #666;
  font-weight: 600;
  font-size: 1.1em;
}

.download {
  box-sizing: border-box;
  color: #444;
  background: #eee;
  font-weight: 800;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

.download:hover {
  background-color: #eef;
  transition: all 0.5s;
}
