#mySidenav a {
    position: fixed;
    right: -20px;
    margin-top: 15%;
    transition: 0.3s;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    width: 60px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
  }
  
  #mySidenav a:hover {
    right: -1px;
  }
  
  #fb-share {
    top: 30px;
  }

  #twitter-share {
    top:75px;
  }
  
  
  #linkedin-share {
    top: 150px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #mySidenav a {
        margin-top: 55%;
    }
    
}