// .other-data {
//   margin-top: 0;
//   float: right;
//   span {
//     font-size: 0.9em;
//     line-height: 1.1em;
//     margin: 0 0.9em 0 0;
//   }
// }

.date {
  color: #3e9fef;
  font-weight: 1000;
}

.custom-button-style {
  font-size: 1em !important;
  float: right;
  clear: both;
  padding: 0.6em 1em !important;
  border-radius: 16px !important;
}

.flex-cont {
  display: flex;
  flex-direction: row;
}
// .flex-cont {
//   display: flex;
//   align-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   flex-direction: row-reverse;
//   justify-content: space-between;
// }

.min-read {
  color: #738a94;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card {
  /* the other rules */
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

#article-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

#article-title {
  a {
    color: #15171a;
  }
}

.author {
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  // .other-data {
  //   margin-top: 0;
  //   span {
  //     display: block;
  //     font-size: 0.9em;
  //     line-height: 1.1em;
  //   }
  // }
}
