.other-data {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.date {
  color: #3e9fef;
  font-weight: 1000;
}

.min-read {
  color: #738a94;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card {
  /* the other rules */
  transition: height 1s, box-shadow 0.3s;
}
.card:hover {
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.5);
}
